:root {
   --color-primary: #1188EE;
   --background-color-title: #EFF4F9;
   --color: #fff;

   --color-title: #445566;
   --header-color:#17222D;
   --input-color: #EFF4F9;
   --placeholder-color: #c0c2c4;
   --label-color: #445566;

   --input-shadow-color: rgba(187, 204, 221, 0.4);
   --hr-color: rgba(210, 225, 241, 0.4);
   --border-color: rgba(170, 183, 197, 0.4);
}

body {
   font-family: 'Nunito', sans-serif;
   font-size: 16px;
}

.container {
   width: 90%;
   max-width: 768px;
   margin: auto;
   overflow: hidden;
   /* border: 1px solid red; */
}


hr {
   width: 100%;
   margin-top: 15px;
   border: 1px solid var(--hr-color);
}